.img-thumbnail{
	width: auto;
	height: 200px;
	border: none;
}
.jumbotron{
	background: #fff;
}
.img-container{
	margin: 40px 0;
}

img.details{
	width: 33%;
	margin: 15px auto;
}


/*footer*/
#footer{
	padding:25px;
	background: skyblue;
}